.conference-btns .leave {
  display: none;
}

.conference-btns .camera-on {
  display: none;
}
/* used to hide camera icons before joining */
#camera-icon-container {
  opacity: 0.5;
  pointer-events: none;
}

.video-container {
  float: left;
  margin: center;
  width: 25.6%;
  padding-bottom: 18.4%; /* = width for a 1:1 aspect ratio */
  margin: 1.0%;
  background-color: #900C3F;
  height: 125px;
  position: relative;
  border-radius: 40%;
  /* outline: 0px solid black; */
}

.active {
  outline: 5px solid blueviolet;
}

.caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: white;
  background-color: Black;
  opacity: 0.5;
  padding: 10px;
}

#control-container {
  background-color: #581845;
  border-top: 2px solid #FF5733;
}

.input-group {
  top: 20%;
}

video {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  border-radius: 40%;
  position: absolute;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

#main-wrapper {
  padding: 0;
  background-color: black;
  /* height: 100vh;
  width: 100vw; */
}

#main-view-container {
  position: relative;
  background-color: black;
}

#control-container {
  /* position: relative; */
  background-color: #581845;
}

#name-message {
  color: white;
  text-align: center;
}

.copy-join-link {
  color: white;
  font-size: small;
  text-align: center;
}

html,
body {
  height: 100%;
}